<div class="card">
    <div class="card-header">
        <input class="checkbox-round"
               id="@CheckBoxId"
               type="checkbox"
               checked="@TodoRecord.IsComplete"
               @onclick="@InvokeOnCheckboxTickedAsync">
    </div>
    <div class="card-body">
        
        <h5 class="card-title">
            @if (TodoRecord.IsComplete)
            {
                <del>@TodoRecord.Title</del>
            }
            else
            {
                @TodoRecord.Title
            }
        </h5>

        @if (TodoRecord.Description is not null)
        {
            <p class="card-text">@TodoRecord.Description</p>
        }

        <a href="todo-edit/@TodoRecord.Id" class="btn btn-dark"><span class="oi oi-pencil"></span></a>
        <button class="btn btn-danger" @onclick="InvokeOnTodoDeleteButtonClickedAsync"><span class="oi oi-trash"></span></button>
    </div>
</div>
