@page "/"

@if (_todoRecords is null)
{
    <p>Loading todo's...</p>
}
else
{
    <div class="text-right mb-2">
        <button class="btn btn-dark" @onclick="@ShowTodoQuickAddDialog">
            <span class="oi oi-plus"></span>
        </button>
        <button class="btn btn-dark ml-auto" @onclick="@ToggleCompletedTodosVisibility">
            @(_showCompletedTodos ? "Hide" : "Show") Completed
        </button>
    </div>
    foreach (var todoRecord in _todoRecords)
    {
        <TodoCard @key="@todoRecord.Id"
              TodoRecord="@todoRecord"
              OnCheckboxTicked="@(async id => await ToggleTodoCompletedStatusAsync(id))"
              OnTodoDeleteButtonClick="@(async id => await DeleteTodoAsync(id))" />
        <hr />
    }
}

<TodoQuickAddModal @ref="TodoQuickAddModal" CallbackAction="@TodoQuickAdd_OnDialogClose" />
